*~
*#
.#*
\#*#
.*.sw[a-z]
*.un~
pkg/

# Berkshelf
.vagrant
/cookbooks

# Bundler
bin/*
.bundle/*

.kitchen/
.kitchen.local.yml
.kitchen.local.yml.old

# chefspec
.coverage/

# chef
.chef/

encrypted_data_bag_secret
knife.rb
.encrypted_data_bag_secret
